.css_ae_id_bayer_aplicaciones_det_label {text-align: left;vertical-align: middle;}
.css_ae_id_bayer_aplicaciones_det_line {height:0px;text-align: left;}
.css_ae_numero_ojos_det_label {text-align: left;vertical-align: middle;}
.css_ae_numero_ojos_det_line {height:0px;text-align: left;}
.css_ae_fecha_aplicacion_det_label {text-align: left;vertical-align: middle;}
.css_ae_fecha_aplicacion_det_line {height:0px;text-align: left;}
.css_ae_fecha_registro_det_label {text-align: left;vertical-align: middle;}
.css_ae_fecha_registro_det_line {height:0px;text-align: left;}
.css_ae_id_paciente_fk_det_label {text-align: left;vertical-align: middle;}
.css_ae_id_paciente_fk_det_line {height:0px;text-align: left;}
.css_ae_id_usuario_fk_det_label {text-align: left;vertical-align: middle;}
.css_ae_id_usuario_fk_det_line {height:0px;text-align: left;}
.css_t_clasificacion_patologica_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_t_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: left;}
.css_p_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_t_fecha_inicio_terapia_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_t_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: left;}
