.css_ae_id_bayer_aplicaciones_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ae_id_bayer_aplicaciones_grid_line {vertical-align: top;text-align: right;}
.css_ae_numero_ojos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ae_numero_ojos_grid_line {vertical-align: top;text-align: left;}
.css_ae_fecha_aplicacion_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ae_fecha_aplicacion_grid_line {vertical-align: top;text-align: center;}
.css_ae_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ae_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_ae_id_paciente_fk_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ae_id_paciente_fk_grid_line {vertical-align: top;text-align: right;}
.css_ae_id_usuario_fk_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ae_id_usuario_fk_grid_line {vertical-align: top;text-align: right;}
.css_t_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_t_fecha_inicio_terapia_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: left;}
