.css_pap_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_pap_grid_line {vertical-align: top;text-align: right;}
.css_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_producto_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_c_conteo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_c_conteo_grid_line {vertical-align: top;text-align: right;}
.css_c_causal_no_visita_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_c_causal_no_visita_grid_line {vertical-align: top;text-align: right;}
.css_t_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asegurador_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_medico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_c_fecha_ultimo_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_c_fecha_ultimo_registro_grid_line {vertical-align: top;text-align: center;}
