.css_pap_det_label {text-align: left;vertical-align: middle;}
.css_pap_det_line {height:0px;text-align: left;}
.css_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_c_conteo_det_label {text-align: left;vertical-align: middle;}
.css_c_conteo_det_line {height:0px;text-align: left;}
.css_c_causal_no_visita_det_label {text-align: left;vertical-align: middle;}
.css_c_causal_no_visita_det_line {height:0px;text-align: left;}
.css_t_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_t_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_t_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_t_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_t_medico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_t_medico_tratamiento_det_line {height:0px;text-align: left;}
.css_c_fecha_ultimo_registro_det_label {text-align: left;vertical-align: middle;}
.css_c_fecha_ultimo_registro_det_line {height:0px;text-align: left;}
