.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_estado_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bt_fecha_inicio_terapia_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_ba_fecha_apoyo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ba_fecha_apoyo_grid_line {vertical-align: top;text-align: center;}
.css_ba_motivo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ba_motivo_grid_line {vertical-align: top;text-align: right;}
.css_ba_dosis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ba_dosis_grid_line {vertical-align: top;text-align: right;}
.css_mes_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes_grid_line {vertical-align: top;text-align: right;}
.css_ba_razon_apoyo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ba_razon_apoyo_grid_line {vertical-align: top;text-align: right;}
.css_bt_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_asegurador_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bt_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bt_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bp_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_ciudad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_departamento_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_departamento_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bt_paap_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_paap_grid_line {vertical-align: top;text-align: right;}
