.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bt_paap_det_label {text-align: left;vertical-align: middle;}
.css_bt_paap_det_line {height:0px;text-align: left;}
.css_bp_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_estado_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_bt_fecha_inicio_terapia_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: left;}
.css_ba_fecha_apoyo_det_label {text-align: left;vertical-align: middle;}
.css_ba_fecha_apoyo_det_line {height:0px;text-align: left;}
.css_ba_motivo_det_label {text-align: left;vertical-align: middle;}
.css_ba_motivo_det_line {height:0px;text-align: left;}
.css_ba_dosis_det_label {text-align: left;vertical-align: middle;}
.css_ba_dosis_det_line {height:0px;text-align: left;}
.css_ba_razon_apoyo_det_label {text-align: left;vertical-align: middle;}
.css_ba_razon_apoyo_det_line {height:0px;text-align: left;}
.css_bt_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_medico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_medico_tratamiento_det_line {height:0px;text-align: left;}
.css_bp_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_bp_departamento_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_departamento_paciente_det_line {height:0px;text-align: left;}
