.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bt_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bp_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_status_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_status_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bt_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_dosis_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_dosis_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bp_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_identificacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono2_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono3_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_correo_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_direccion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_barrio_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_barrio_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_departamento_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_departamento_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bt_zona_atencion_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_zona_atencion_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bp_genero_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_genero_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_nacimineto_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_nacimineto_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_edad_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_edad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_codigo_xofigo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_codigo_xofigo_grid_line {vertical-align: top;text-align: right;}
.css_bp_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_usuario_creacion_grid_line {vertical-align: top;text-align: left;}
.css_bt_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_punto_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_punto_entrega_grid_line {vertical-align: top;text-align: left;}
.css_bt_fecha_ultima_reclamacion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_ultima_reclamacion_tratamiento_grid_line {vertical-align: top;text-align: left;}
