.css_bp_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: right;}
.css_bp_nombre_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: right;}
.css_bp_apellido_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: right;}
.css_bp_ciudad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: right;}
.css_bt_asegurador_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_bt_asegurador_tratamiento_det_line {height:0px;text-align: right;}
.css_bt_operador_logistico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_bt_operador_logistico_tratamiento_det_line {height:0px;text-align: right;}
.css_bt_medico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_bt_medico_tratamiento_det_line {height:0px;text-align: right;}
.css_bem_estatus_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bem_estatus_paciente_det_line {height:0px;text-align: right;}
.css_bem_dosis_det_label {text-align: right;vertical-align: middle;}
.css_bem_dosis_det_line {height:0px;text-align: right;}
.css_bem_fecha_salida_det_label {text-align: right;vertical-align: middle;}
.css_bem_fecha_salida_det_line {height:0px;text-align: right;}
.css_bem_fecha_entrega_det_label {text-align: right;vertical-align: middle;}
.css_bem_fecha_entrega_det_line {height:0px;text-align: right;}
.css_bem_no_lote_det_label {text-align: right;vertical-align: middle;}
.css_bem_no_lote_det_line {height:0px;text-align: right;}
.css_bem_estado_det_label {text-align: right;vertical-align: middle;}
.css_bem_estado_det_line {height:0px;text-align: right;}
.css_bem_usuario_det_label {text-align: right;vertical-align: middle;}
.css_bem_usuario_det_line {height:0px;text-align: right;}
.css_bem_fecha_creacion_det_label {text-align: right;vertical-align: middle;}
.css_bem_fecha_creacion_det_line {height:0px;text-align: right;}
