.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bt_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bem_estatus_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_estatus_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bem_dosis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_dosis_grid_line {vertical-align: top;text-align: left;}
.css_bem_fecha_salida_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_fecha_salida_grid_line {vertical-align: top;text-align: left;}
.css_bem_fecha_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_fecha_entrega_grid_line {vertical-align: top;text-align: left;}
.css_bem_no_lote_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_no_lote_grid_line {vertical-align: top;text-align: left;}
.css_bem_estado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_estado_grid_line {vertical-align: top;text-align: left;}
.css_bem_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bem_usuario_grid_line {vertical-align: top;text-align: left;}
.css_bem_fecha_creacion_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_bem_fecha_creacion_grid_line {vertical-align: top;text-align: center;}
