.css_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_id_paciente_det_line {height:0px;text-align: left;}
.css_departamento_paciente_det_label {text-align: left;vertical-align: middle;}
.css_departamento_paciente_det_line {height:0px;text-align: left;}
.css_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_estado_paciente_det_line {height:0px;text-align: left;}
.css_status_paciente_det_label {text-align: left;vertical-align: middle;}
.css_status_paciente_det_line {height:0px;text-align: left;}
.css_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_codigo_xofigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_xofigo_det_line {height:0px;text-align: left;}
.css_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_id_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_id_tratamiento_det_line {height:0px;text-align: left;}
.css_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_nombre_referencia_det_line {height:0px;text-align: left;}
.css_dosis_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_dosis_tratamiento_det_line {height:0px;text-align: left;}
.css_fecha_inicio_terapia_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: left;}
.css_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_punto_entrega_det_label {text-align: left;vertical-align: middle;}
.css_punto_entrega_det_line {height:0px;text-align: left;}
.css_ips_atiende_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_ips_atiende_tratamiento_det_line {height:0px;text-align: left;}
.css_regimen_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_regimen_tratamiento_det_line {height:0px;text-align: left;}
.css_medico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_medico_tratamiento_det_line {height:0px;text-align: left;}
.css_fecha_ultima_reclamacion_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_fecha_ultima_reclamacion_tratamiento_det_line {height:0px;text-align: left;}
.css_clasificacion_patologica_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: left;}
.css_tratamiento_previo_det_label {text-align: left;vertical-align: middle;}
.css_tratamiento_previo_det_line {height:0px;text-align: left;}
.css_id_paciente_fk_det_label {text-align: left;vertical-align: middle;}
.css_id_paciente_fk_det_line {height:0px;text-align: left;}
.css_id_gestion_det_label {text-align: left;vertical-align: middle;}
.css_id_gestion_det_line {height:0px;text-align: left;}
.css_logro_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_logro_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_causa_no_reclamacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_causa_no_reclamacion_gestion_det_line {height:0px;text-align: left;}
.css_reclamo_gestion_det_label {text-align: left;vertical-align: middle;}
.css_reclamo_gestion_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion_gestion_det_line {height:0px;text-align: left;}
.css_fecha_comunicacion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_comunicacion_det_line {height:0px;text-align: left;}
.css_fecha_programada_gestion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_programada_gestion_det_line {height:0px;text-align: left;}
.css_autor_gestion_det_label {text-align: left;vertical-align: middle;}
.css_autor_gestion_det_line {height:0px;text-align: left;}
.css_descripcion_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_fecha_medicamento_hasta_det_label {text-align: left;vertical-align: middle;}
.css_fecha_medicamento_hasta_det_line {height:0px;text-align: left;}
.css_numero_cajas_det_label {text-align: left;vertical-align: middle;}
.css_numero_cajas_det_line {height:0px;text-align: left;}
.css_paap_det_label {text-align: left;vertical-align: middle;}
.css_paap_det_line {height:0px;text-align: left;}
.css_sub_paap_det_label {text-align: left;vertical-align: middle;}
.css_sub_paap_det_line {height:0px;text-align: left;}
.css_barrera_det_label {text-align: left;vertical-align: middle;}
.css_barrera_det_line {height:0px;text-align: left;}
.css_fecha_ini_paap_det_label {text-align: left;vertical-align: middle;}
.css_fecha_ini_paap_det_line {height:0px;text-align: left;}
.css_fecha_fin_paap_det_label {text-align: left;vertical-align: middle;}
.css_fecha_fin_paap_det_line {height:0px;text-align: left;}
