.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono2_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono3_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bt_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_producto_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bg_descripcion_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_descripcion_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bg_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_autor_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bg_evento_adverso_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_evento_adverso_gestion_grid_line {vertical-align: top;text-align: right;}
