.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bp_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_estado_paciente_det_line {height:0px;text-align: left;}
.css_bp_status_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_status_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_observacion_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_observacion_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: left;}
.css_bp_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono2_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono2_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono3_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono3_paciente_det_line {height:0px;text-align: left;}
.css_bp_correo_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_correo_paciente_det_line {height:0px;text-align: left;}
.css_bp_direccion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_direccion_paciente_det_line {height:0px;text-align: left;}
.css_bp_barrio_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_barrio_paciente_det_line {height:0px;text-align: left;}
.css_bp_departamento_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_departamento_paciente_det_line {height:0px;text-align: left;}
.css_bp_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_bp_genero_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_genero_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_nacimineto_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_nacimineto_paciente_det_line {height:0px;text-align: left;}
.css_bp_edad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_edad_paciente_det_line {height:0px;text-align: left;}
.css_bp_acudiente_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_acudiente_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono_acudiente_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono_acudiente_paciente_det_line {height:0px;text-align: left;}
.css_bp_codigo_xofigo_det_label {text-align: left;vertical-align: middle;}
.css_bp_codigo_xofigo_det_line {height:0px;text-align: left;}
.css_bp_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_bp_usuario_creacion_det_label {text-align: left;vertical-align: middle;}
.css_bp_usuario_creacion_det_line {height:0px;text-align: left;}
.css_bt_id_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_id_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_bt_nombre_referencia_det_line {height:0px;text-align: left;}
.css_bt_dosis_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_dosis_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_clasificacion_patologica_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_tratamiento_previo_det_label {text-align: left;vertical-align: middle;}
.css_bt_tratamiento_previo_det_line {height:0px;text-align: left;}
.css_bt_consentimiento_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_consentimiento_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_fecha_inicio_terapia_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_regimen_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_regimen_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_punto_entrega_det_label {text-align: left;vertical-align: middle;}
.css_bt_punto_entrega_det_line {height:0px;text-align: left;}
.css_bt_fecha_ultima_reclamacion_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_fecha_ultima_reclamacion_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_otros_operadores_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_otros_operadores_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_medios_adquisicion_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_medios_adquisicion_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_ips_atiende_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_ips_atiende_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_medico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_medico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_especialidad_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_especialidad_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_zona_atencion_paramedico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_zona_atencion_paramedico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_ciudad_base_paramedico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_ciudad_base_paramedico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_notas_adjuntos_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_notas_adjuntos_tratamiento_det_line {height:0px;text-align: left;}
